
.setting-item .setting-item-control .illuminator-dim-input {
    background-color: var(--background-secondary);
}

.illuminator-modal-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
}

.illuminator-modal-input {
    flex: 1;
}